body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 15px;
	color: #333;
	background-color: #fff;
	line-height: 1.35;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	padding: 15px;
	background-color: navy;
	color: white;
}

.container {
	display: flex;
}

.subreddit-list {
	width: 30%;
	height: calc(100vh - 50px);
	overflow-y: scroll;
}

.rhs {
	flex: 1;
	display: flex;
}

.article {
	width: 50%;
	height: calc(100vh - 50px);
}

.comments {
	width: 50%;
	height: calc(100vh - 50px);
	overflow-y: scroll;
}

.list-item {
	padding: 10px;
	border-bottom: 1px solid #eee;
	display: flex;
}

.list-item .img {
	width: 50px;
	height: 50px;
}

.list-item .content {
	flex: 1;
	margin: 0 10px;
}

.margin-tb {
	margin: 5px 0;
}

.list-item .votes {
	width: 50px;
	/* background-color: #ccc; */
}

.gray {
	color: #999;
}

.small {
	font-size: 12px;
}

.comments-list {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #eee;
}

.comments-list-item {
	background-color: #fff;
}

.comments-list-item .comments-list {
	padding-left: 15px;
	margin-left: 1px;
}

.comment-body {
	padding: 15px 10px;
	display: block;
	border-bottom: 1px solid #eee;
}

.comment-meta {
	margin-bottom: 10px;
}
